%flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    %flex {
        flex-wrap: wrap;
    }

}

%inline-li {
    display: inline-block;
    padding: 0 20px 0 20px;
}

%button {
    padding: 10px 15px;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 5px;
}